.header__image {
    max-height: 52px;
    min-width: 14.86%; /* width: 176px; */
    background-size: cover;
}

@media screen and (max-width: 425px) {

    .header__image {
        /* 320px */
        max-height: 42px;
        min-width: 49.3%; /* width: 142px; */
    }
}