.photo-grid {
    margin: 0 auto;
    padding-top: 92px;
    min-height: 671px;
    max-width: 1184px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
}

@media screen and (max-width: 1024px) {

    .photo-grid {
        min-height: 942px; /* width: 928px; */
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 14px;
    }
}

@media screen and (max-width: 768px) {

    .photo-grid {
        padding-top: 88px;
        min-height: 1664px;
        max-width: calc(100vw - 2 * 24px); /* width: 720px; */
        grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
        gap: 16px;
    }
}

@media screen and (max-width: 425px) {

    .photo-grid {
        padding-top: 62px;
        min-height: 2724px;
        max-width: calc(100vw - 2 * 16px); /* width: 288px; */
        grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
        gap: 12px;
    }
}