.lead__main-illustration__image {
    margin: 0 auto;
    max-height: 96%; /* height: 615px; */
    width: 100%; /* width: 984px; */
}

@media screen and (max-width: 1024px) {

    .lead__main-illustration__image {
        /* 1024px */
        max-height: 96%; /* height: 580px; */
        width: 100%; /* width: 928px; */
    }
}

@media screen and (max-width: 768px) {

    .lead__main-illustration__image {
        /* 768px */
        max-height: 96%; /* height: 480px; */
        width: 100%; /* width: 768px; */
    }
}

@media screen and (max-width: 425px) {

    .lead__main-illustration__image {
        /* 320px */
        height: 200px;
        width: 320px;
    }
}