.lead {
    padding: 56px 148px 0 148px;
    max-height: 1005px;
    max-width: calc(100vw - 2 * 148px); /* max-width: 984px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 1024px) {

    .lead {
        padding: 48px 48px 0 48px;
        max-height: 962px;
        max-width: calc(100vw - 2 * 48px); /* max-width: 928px; */
    }
}

@media screen and (max-width: 768px) {

    .lead {
        padding: 0;
        padding-top: 48px;
        max-height: 862px;
        max-width: 100vw; /* max-width: 768px; */
    }
}

@media screen and (max-width: 425px) {

    .lead {
        padding: 0;
        padding-top: 48px;
        max-height: 406px;
        max-width: 100vw; /* max-width: 320px; */
    }
}
