.cover__subtitle {
    margin: 0 auto;
    padding-top: 32px;
    max-height: 66px; /* height: 66px; */
    max-width: 360px; /* width: 360px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem; /* font-size: 18px; */
    line-height: 1.2; /* line-height: 22px; */
    text-align: center;
}

@media screen and (max-width: 425px) {

    .cover__subtitle {
        padding-top: 16px;
        max-height: 48px; /* height: 48px; */
        max-width: 288px; /* width: 288px; */
        font-size: 0.875rem; /* font-size: 14px; */
        line-height: 1; /* line-height: 16px; */
    }
}