.place__website-url-heading {
    margin: 0;
    max-width: 456px; /* width: 456px; */
    min-height: 12px; /* height: 12px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem; /* font-size: 12px; */
    line-height: 2.8; /* line-height: 12px; */
    letter-spacing: 2px;
}

@media screen and (max-width: 768px) {

    .place__website-url-heading {
        line-height: 1; /* line-height: 12px; */
    }
}