.lead__title {
    margin: 0 auto;
    padding-top: 6px;
    min-height: 200px; /* height: 200px; */
    max-width: 720px; /* width: 720px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 6rem; /* font-size: 96px; */
    line-height: 1; /* line-height: 100px; */
    text-align: center;
}

@media screen and (max-width: 1024px) {

    .lead__title {
        padding-top: 9px;
    }
}

@media screen and (max-width: 768px) {

    .lead__title {
        padding-top: 6px;
    }
}

@media screen and (max-width: 425px) {

    .lead__title {
        padding-top: 2px;
        min-height: 88px; /* height: 88px; */
        max-width: 288px; /* width: 288px; */
        font-size: 2.5rem; /* font-size: 40px; */
        line-height: 1.1; /* line-height: 44px; */
    }
}