.lead__subtitle {
    margin: 0 auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

@media screen and (min-width: 768px) {

    .lead__subtitle {
        padding-top: 32px;
        min-height: 72px;
        width: 640px;
        font-size: 1.875rem; /* font-size: 30px; */
        line-height: 1.1; /* line-height: 36px; */
    }
}


@media screen and (max-width: 767px) {

    .lead__subtitle {
        font-size: calc( (100vw - 320px)/(768 - 320) * (30 - 16) + 16px);
    }
}

@media screen and (max-width: 425px) {

    .lead__subtitle {
        padding-top: 16px;
        min-height: 40px;
        max-width: calc(100vw - 2 * 16px); /* width: 288px; */
        /* 
         * font-size: 16px; 
         * line-height: 20px;
         */
        line-height: 1.24;
    }
}