.lead__main-illustration {
    margin: 0 auto;
    margin-top: 58px; /* margin-top: 64px; */
    min-height: 637px; /* height: 637px; */ 
    min-width: 984px; /* width: 984px; */
}

@media screen and (max-width: 1024px) {

    .lead__main-illustration {
        /* 1024px */
        margin-top: 47px; /* margin-top: 56px; */
        min-height: 602px; /* height: 602px; */ 
        min-width: 928px; /* width: 928px; */
    }
}

@media screen and (max-width: 768px) {

    .lead__main-illustration {
        /* 768px */
        margin-top: 50px; /* margin-top: 56px; */
        min-height: 502px; /* height: 502px; */ 
        min-width: 100%; /* width: 768px; */
    }
}

@media screen and (max-width: 425px) {

    .lead__main-illustration {
        /* 320px */
        margin-top: 40px; /* margin-top: 40px; */
        min-height: 222px; /* height: 222px; */ 
        min-width: 100%; /* width: 320px; */
    }
}