.intro__title {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
}

@media screen and (min-width: 768px) {

    .intro__title {
        min-height: 58px;
        width: 100%; /* width: 690px; */
        font-size: 3.375rem; /* font-size: 54px; */
        line-height: 1; /* line-height: 58px; */
    }
}

@media screen and (max-width: 767px) {

    .intro__title {
        font-size: calc( (100vw - 320px)/(768 - 320) * (54 - 32) + 32px);
    }
}

@media screen and (max-width: 425px) {

    .intro__title {
        /* 
         * font-size: 32px; 
         * line-height: 35px;
         */
        line-height: 1.1;
    }
}